.mainContainer {
    margin-top: 48px;
    margin-left: 13.7%;
    margin-right: 13.7%;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
}
h2 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    font-family: inherit;
    line-height: 1.2;
    margin-top: 0;
}
.contentWrapper {
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.content {
    background-color: #435c70;
    min-height: 1px;
    max-height: none;
    height: auto;
    padding: 40px;
    /* -webkit-box-shadow: 1px 1px 5px 0 #455c71;
    -moz-box-shadow: 1px 1px 5px 0 #455c71; */
    box-shadow: 1px 1px 5px 0 #455c71;
    /* min-height: 350px;
    height: 100%;
    max-height: 450px; */
    color: white;
}
/* .content h2 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: inherit;
    line-height: 1.2;
} */
.content p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.select {
    height: 50px;
    border-radius: 0;
    width: 100%;
    border: none;
    color: #acc6de;
    /* height: 50px; */
    /* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; */
    padding: 15px;
    /* background: url(../img/arrow-down.png) 98% no-repeat #50657b; */
    background-color: #50657b;
    font-size: 16px;
}
.contentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: -20px; */
    margin-right: -20px;
}
.avatarContainer {
    max-width: 395px;
    /* width: 37%; */
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.avatarWrapper {
    background-color: #435c70;
    height: auto;
    max-height: none;
    padding: 40px;
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 350px;
    /* height: 100%;
    max-height: 450px; */
}

.avatar {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img {
    width: 345px;
    margin-bottom: 1.5rem!important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.tag {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    /* z-index: 1000; */
    padding: 14px;
    border-radius: 50%;
    background-color: rgba(57, 78, 100, 0.7);
    /* display: inline-block; */
    width: 50px;
    height: 50px;
    text-align: center;
    display: none;
    transition: all 0.2s ease;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
.delIcon {
    font-size: 1.1rem;
    color: #fff;
    
}
.img:hover ~ .tag {
    display: block;
}
.btn {
    color: #fff;
    background-color: #f5a623;
    border: 2px solid #f5a623;
    font-size: 90%;
    font-weight: 600;
    border-radius: 0;
    padding: 13px 28px;
    transition: all 0.2s ease;
    max-width: 100%;
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    /* vertical-align: middle; */
    user-select: none;
    line-height: 1.5;
    outline: none;
}
.btn:hover {
    background-color: transparent;
    color: #f5a623;
}
.accountSettings {
    max-width: 822px;
    width: 63%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
.blockWrapper {
    background-color: #435c70;
    max-height: none;
    padding: 40px;
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 350px;
    height: 100%;
}
/* .blockWrapper h2 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.2;
} */
.formWrapper {
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form {
    margin-bottom: 15px;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
::placeholder {
    color: white;
    opacity: 1;
}
.form p{
    margin-top: 0px;
}
.form label {
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.form input {
    padding: 19px 18px;
    border-radius: 0;
    height: 50px;
    background-color: #54657d;
    color: #fff;
    border: 0;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.delBtnWrapper {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
